/* Load fonts */
@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

#root {
    height: 100% !important;
}

body, html {
    height: 100vh;
    background: #FFC15E !important;
    /* font-family: 'Source Code Pro', monospace !important; */
    font-family: 'Roboto Mono', monospace !important;
}

/* Padding classes */
.p-100 {
    padding-top: 100px;
}