<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Shon Verch">
    <title>This Post Does Not Exist</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="../static/css/index.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/6e14a40173.js" crossorigin="anonymous"></script>

    <style>
        /* Page specific styling. */
        html,
        body {
            height: 100%;
            background-color: #080d2d;
        }
    </style>
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <a class="masthead-brand d-none d-md-block" href="#">This Post Does Not Exist</a>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">tifu</a>
                    <a class="nav-link" href="#">writingprompts</a>
                    <a class="nav-link redacted redacted-orange" href="#">p<i>orn</i>hub <span>&#128521</span></a>
                </nav>
            </div>
        </header>

        <main role="main" class="py-5">
            <p class="text-muted mb-1">r/tifu</p>
            <h3 class="font-weight-bold mb-3">TIFU BY leaving my cat outside on a leash while I was working</h3>
            <p class="truncate-block-3 mb-2" id="post-body">
                sorry for all these updates lol

                Update 4: Caught him gazing into his own reflection, is this how he duped the first time??

                https://imgur.com/a/IosJRiO

                Update 3: to be clear, my cat is home safe it was the other UFC(unidentified foreign cat) that got away

                Update 2: I realize I fucked up leaving him outside unattended. I'll be building that little shit a catio as recommended!

                Update: wow thank you everyone, I'm so glad you enjoyed my big cat debacle 😂. Due to all your sage like wisdom I'm waiting at the docs meow to get it checked! **Just got back from doctors, got a tetanus shot and some antibiotics, thank you everyone!!

                Today I fucked up by leaving my cat outside. First off I'll start by a background on my fat fuck of a cat. He's an "indoor" cat but tries to get outside at every opportunity he can. I didn't want him to be an outdoor cat, so we compromised and he's an outdoor cat. In the past I have left him on a long lead and an easy break collar but he has since figured out that he is fat enough to jump off something and it'll easily break. I then moved to a harness, which he then realized that he just needs to back up out of it. Now I have that shit on so tight that he can't anymore(can still fit my fingers through it, worry not gentle souls).

                Anyway, I figured I'd be nice and let him out for a bit while I was working down stairs. There I am on the phone with a customer who won't stop asking questions and I begin to hear screams of pure fucking death coming from my yard. I'm trying to get rid of my customer so I can get to my cat and figure out what unholy hell he got himself into. My customer keeps saying some random ass shit that he should have said way earlier as it wasn't even relevant anymore. So I'm like yep ok yep trying to get rid of him and also nervous he can hear the fucking shit show in the background.

                Finally I get that fek off the line and race upstairs thinking my cat jumped the fence and was now dangling from the line (I always have it shorter than the distance to the fence but figured he found a way to fuck me over once again).

                I immediately see I was completely wrong and think I'm either tripping acid or there is another whale of a cat that looks god damn identical to mine:

                https://imgur.com/a/Nvq6s2g

                I snap a quick pic incase this cat gets away so I can post him online to try and find his owner's.

                They're both so god damn fat and puffing out like no tomorrow I can't tell who's who. I figured I might be able to tell them a part because my cat is wearing his leash right? Nope. He has once again fucked me and has some how houdini'd the fuck outta the harness so now I have two heathens growling at eachother and I have no clue which one is mine.

                I finally see the other cat has a black harness so I quickly grab that and go to hold my cat back. Before I can, he launches himself quicker than this jiggly beast has ever moved in his life. He full on tackles this other cat and they slap together like pb and jelly.

                I manage to separate them relatively easy and I pick my cat up and hold the other ones harness so I can check him for wounds after I get mine inside. BIG MISTAKE. This cat fucks my day up, launches himself up my leg and scratches the fuck out of my hand. Meanwhile my cat is also trying to demolish the other cat and also attacks me in the process.

                I get my cat inside and the other blubbering beast is now trying to jump the fence. But he's so god damn fat that he jumps and is literally sliding down the fence in slowmo like a cartoon character. I'm trying to catch him but he's surprisingly fast for a snorlax. I go back inside to grab treats to entice him but he's gone and I only had a 15 minute break at work.

                I wanted to check him out to make sure he was ok but didn't have time to look for him anymore. I've left some food out for him to see if he'll come back. I figure he might be traumatized but a guy his size needs to keep his calories up🤷

                My hand is now swollen a little and hurts to move😅

                https://imgur.com/a/pUuAxwT

                TLDR:

                Left my cat outside on a leash, heard him screaming bloody murder while I was working. Run outside to see an identical fat cat. Try to separate them, both cats attack me and the other one gets away.

                https://imgur.com/a/Nvq6s2g

                https://imgur.com/a/pUuAxwT
            </p>
            <a class="text-link" id="collapse-toggle" data-expand-target="#post-body"
               data-expand-label-target='#readmore-label'>
                <small id="readmore-label">Read more</small>
            </a>
            <!-- Control buttons -->
            <div class="d-flex flex-row mt-2">
                <a class="text-link-secondary mr-3" href="">Permalink</a>
                <a class="text-link-secondary mr-3" href="">New post</a>
                <a class="text-link-secondary mr-auto" href="">Make your own</a>
                <a class="text-link"
                   href="https://twitter.com/intent/tweet?text=test" id="tweet-btn"
                   target="_blank" rel="noopener noreferrer"
                >
                    <i class="fab fa-twitter pr-2"></i>Tweet
                </a>
            </div>
        </main>

        <footer class="mastfoot mt-auto text-center">
            <div class="inner">
                <p class="p-0 m-0">
                    Created by <a class="text-link-secondary" href="https://github.com/galacticglum">Shon Verch</a>
                    (<a class="text-link-secondary" href="https://twitter.com/galacticglum">@galacticglum</a>)
                </p>
                <p class="p-0 m-0" style="font-size: 14px;"><i>Posts are not reviewed. Use at your own risk.</i></p>
            </div>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="../static/vendor/html2canvas.min.js"></script>
    <script src="../static/js/index.js"></script>
</body>
</html>