{% extends '_layout.html' %}
{% set active_page = "phc" %}

{% block head_style %}
    {{ super() }}
    <style>
        html,
        body {
            background-color: #101010;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/phc.css') }}">
{% endblock %}

{% block post %}
<div class="d-flex flex-row">
    <img class="avatar mr-2" src="{{ url_for('static', filename='img/phc_avatar.png') }}" alt="Avatar">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <span class="font-weight-bold username">{{ record.author_username }}</span>
        </div>
        <p class="comment-text mb-0">{{ record.comment }}</p>
        <div class="d-flex flex-row align-items-center mt-1">
            <span class="like-text">{{ record.likes }}</span>
            <span class="thumb-icons text-muted">
                <i class="fas fa-thumbs-up ml-2"></i>
                <i class="fas fa-thumbs-down ml-1"></i>
            </span>
        </div>
    </div>
</div>
<hr style="opacity: 0.05;">
<!-- <h3 class="font-weight-bold mb-3">{% block post_name %}post_name{% endblock %}</h3>
<p class="truncate-block-3 mb-2" id="post-body">

</p> -->
{% endblock %}

<!-- Remove the readmore button -->
{% block readmore %}{% endblock %}