{% extends '_layout.html' %}
{% set active_page = "phc" %}
{% set tweet_content='{} said "{}"'.format(record.author_username, record.comment.strip()) -%}

{% block head_style %}
{{ super() }}
<style>
    html,
    body {
        background-color: #101010;
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/phc.css') }}">
<meta name="theme-color" content="#000000">
{% endblock %}

{% block post %}
<div class="d-flex flex-row">
    <img class="avatar mr-2" src="{{ url_for('static', filename='img/phc_avatar.png') }}" alt="Avatar">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <span class="font-weight-bold username">
                <span class="prompt">{{ record.author_username[:record.prompted_author_username_end] }}</span>
                {{ record.author_username[record.prompted_author_username_end:] }}
            </span>
        </div>
        <p class="comment-text mb-0">
            <span class="prompt">{{ record.comment[:record.prompted_comment_end] }}</span>
            {{ record.comment[record.prompted_comment_end:] }}
        </p>
        <div class="d-flex flex-row align-items-center mt-1">
            <span class="like-text">
                <span class="{{ 'prompt' if record.is_likes_prompted else '' }}">
                    {{ record.likes }}
                </span>
            </span>
            <span class="thumb-icons text-muted">
                <i class="fas fa-thumbs-up ml-2"></i>
                <i class="fas fa-thumbs-down ml-1"></i>
            </span>
        </div>
    </div>
</div>
<hr style="opacity: 0.05;">
{% endblock %}

{% block generate_view%}
<div class="alert alert-danger fade show d-none" id="validation-error-alert" role="alert">
    <div class="d-flex flex-row">
        <div class="mr-auto small">
            <strong>Holy guacamole!</strong> At least one of the prompt fields are required!
        </div>
        <button type="button" class="close" aria-label="Close" id="validation-error-alert-close-btn">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<form method="POST" id="generate-form" action="javascript:void(0);">
    {{ generate_form.csrf_token() }}
    <div class="d-flex flex-row">
        <img class="avatar mr-2" src="{{ url_for('static', filename='img/phc_avatar.png') }}" alt="Avatar">
        <div class="d-flex flex-column w-100">
            <div class="d-flex flex-row mb-2">
                {{ generate_form.author_username(
                    class='form-control username-input font-weight-bold',
                    placeholder='username',
                    value='',
                    autocomplete='off',
                    pattern='^(?!\s+$).*'
                )}}
            </div>
            {{ generate_form.comment(
                class='form-control comment-body-input',
                placeholder='Lorem ipsum dolor sit amet, consectetur adipiscing elit. ' +
                    'Donec tempor fermentum ligula sed accumsan. Cras ultrices sodales ' +
                    'ligula, ut aliquam libero tincidunt et. Quisque vestibulum ut nisl ' +
                    'non ullamcorper.',
                value='',
                autocomplete='off',
                rows=3
            )}}

            <div class="d-flex flex-row align-items-center mt-1">
                {{ generate_form.likes(
                    class='form-control like-input',
                    placeholder='likes',
                    autocomplete='off',
                    type='number'
                )}}

                <span class="thumb-icons text-muted">
                    <i class="fas fa-thumbs-up ml-2"></i>
                    <i class="fas fa-thumbs-down ml-1"></i>
                </span>
            </div>
        </div>
    </div>

    <!-- Control buttons -->
    <div class="d-flex flex-row mt-2">
        <a class="text-link-secondary mr-auto" id="cancel-generate-button">Cancel</a>
        {{ generate_form.submit(class_='text-link anchor-input') }}
    </div>
</form>
{% endblock %}

<!-- Remove the readmore button -->
{% block readmore %}{% endblock %}

{% block tail %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
    integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
    crossorigin="anonymous"></script>
<script type="text/javascript">
    $('#validation-error-alert-close-btn').on('click', function(e) {
        $('#validation-error-alert').addClass('d-none');
    });
</script>
{% endblock %}

{% block process_prompt_func %}
    function formToPrompt(form) {
        return {
            'author': form['author_username'].trim(),
            'likes': parseInt(form['likes'].trim()),
            'comment_body': form['comment'].trim()
        }
    }
{% endblock %}

{% block generate_form_submit %}
$.validator.addMethod('require_any', function (value, element, param) {
    var is_filled = false;
    $.each(param.split(/\|/), function (i, input_id) {
        if($('#' + input_id).val() !== '') {
            return is_filled = true;
        }
    });
    return is_filled; 
});

$('#generate-form').submit(function(e) {
    e.preventDefault();
    return false;
}).validate({
    rules: {
        author_username: {
            require_any: 'author_username|likes|comment',
        },
        likes: {
            require_any: 'author_username|likes|comment'
        },
        comment: {
            require_any: 'author_username|likes|comment'
        }
    },
    invalidHandler: function() {
        $('#validation-error-alert').removeClass('d-none');
    },
    submitHandler: generateFormSubmitHandler
});
{% endblock %}

<!-- Configure summary card -->
{% block summary_title %}
{{ record.author_username }}
{% endblock %}

{% block summary_description %}
    {{ record.comment }}
{% endblock %}