{% extends '_layout.html' %}
{% set active_page = "tifu" %}

<!-- Configure post -->
{% block post_category %}
    r/tifu
{% endblock %}

{% block post_name %}
    <span class="prompt">{{ record.post_title[:record.post_title_prompt_end] }}</span>
    {{ record.post_title[record.post_title_prompt_end:] }}
{% endblock %}

{% block post_content %}
    {{ '<span class="prompt">{}</span>{}'.format(
            record.post_body[:record.post_body_prompt_end],
            record.post_body[record.post_body_prompt_end:]
    )|markdown|e}}
{% endblock %}

<!-- Configure summary card -->
{% block summary_title %}
    {{ record.post_title }}
{% endblock %}

{% block summary_description %}
    {{ record.post_body|markdown|e }}
{% endblock %}