{% extends '_layout.html' %}
{% set active_page = "wp" %}

{% block post_category %}
    r/writingprompts
{% endblock %}

{% block post_name %}
    <span class="prompt">{{ record.prompt[:record.prompted_prompt_end] }}</span>
    {{ record.prompt[record.prompted_prompt_end:] }}
{% endblock %}

{% block post_content %}
    {{ '<span class="prompt">{}</span>{}'.format(
            record.prompt_response[:record.prompted_response_end],
            record.prompt_response[record.prompted_response_end:]
    )|markdown|e}}
{% endblock %}

<!-- Configure summary card -->
{% block summary_title %}
    {{ record.prompt }}
{% endblock %}

{% block summary_description %}
    {{ record.prompt_response|markdown|e }}
{% endblock %}