.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/*
* Globals
*/

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

/*
* Base structure
*/

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
}

.cover-container {
    max-width: 42em;
}

/*
* Header
*/
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    padding: .25rem 0;
    font-weight: 700;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

/*
* Redacted text style
*/
.redacted i {
    position: relative;
    white-space: pre;
    font-style: normal;
}

.redacted.redacted-remove-hover i:after {
    transition: all 0.05s linear;
}

.redacted i:after {
    background: black;
    border-radius: 0.1em;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
    content: " ";
    width: 100%;
    height: 1.2em;
    left: 0;
    position: absolute;
    -webkit-transform: skewY(-5deg) rotate(5deg);
    transform: skewY(-5deg) rotate(5deg);
}

.redacted i:after {
    background: #f8981e;
}

.redacted-remove-hover i:after {
    background: none;
}

/* Text utilities */
.font-normal {
    font-style: normal;
}

/*
* Cover
*/

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

/*
* Footer
*/
.mastfoot {
    color: rgba(255, 255, 255, .5);
}

/* Utilities */
.text-link {
    color: #feaede !important; 
    cursor: pointer;
}

.text-link:hover, .text-link:active {
    color: #f9f871 !important;
    text-decoration: none;
}

.text-link-secondary {
    color: white !important;
    cursor: pointer;
}

.text-link-secondary:hover, .text-link-secondary:active {
    color: #5becc0 !important;
    text-decoration: none;
}

.text-link-muted {
    color: #6c757d !important;
    cursor: pointer;
}

.text-link-muted:hover, .text-link-muted:active {
    color: #5becc0 !important;
    text-decoration: none;
}

.show-prompt {
    color: #17a2b8 !important;
}

/* Truncate utilities */
.truncate-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    -webkit-box-pack: end;
  }

.truncate-block-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}


.truncate-block-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  -webkit-box-pack: end;
}

.truncate-block-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    -webkit-box-pack: end;
}

.truncate-block-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    -webkit-box-pack: end;
}

/* Form control style */
.title-input {
    background: transparent !important;
    border: none !important;
    padding: 0;
    font-weight: bold;
    font-size: 1.75rem !important;
    color: white !important;
}

.title-input::placeholder {
    color: rgba(255, 255, 255, 0.50) !important;
}

.post-body-input {
    background: transparent !important;
    color: white !important;
    border-color: rgba(255, 255, 255, 0.25);
    border-width: 2px;
}

.post-body-input::placeholder {
    color: rgba(255, 255, 255, 0.50) !important;
}

.anchor-input {
    /* Styling to make an input element like an anchor. */
    background: none;
    border: none;
    padding: 0;
}

hr {
    border-top: 1px solid white;
}