.settings-panel {
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    margin-top: 200px;
    color: black !important;
    padding: 24px;
}

.record-type-checkbox .custom-control-label::before,
.record-type-checkbox .custom-control-label::after {
    top: 0.1rem !important;
    left: -2rem !important;
    width: 1.25rem !important;
    height: 1.25rem !important;
    /* checkbox border */
    border: 3px solid black !important;
    border-radius: 3px !important;
    transition: none !important;
}

.record-type-checkbox .custom-control-label {
    margin-left: 0.5rem !important;
    font-size: 1rem !important;
}

.record-type-checkbox.custom-checkbox .custom-control-input:active~.custom-control-label::after  {
    background-color: #91b597;
}

.record-type-checkbox.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    /* hide checkbox icon */
    background-image: none !important;
    background-color: #5ea26a;
}

label[for="max-guessing-time-toggle"][disabled=""] {
    color: black !important;
    opacity: 0.5 !important;
}

.ready-btn {
    background: #FFC15E !important;
    color: black !important;
    border: 3px solid black !important;
    font-weight: bold !important;
}

/* 
 * CUSTOM RANGE SLIDE STYLING
*/

/* mozilla: enabled style */
.max-guessing-time-range-slider.range-slider::-moz-range-thumb {
    background: #5ea26a !important;
    border: 3px solid black !important;
}

/* mozilla: disabled style */
.max-guessing-time-range-slider.range-slider.disabled::-moz-range-thumb {
    background: #E9E9E8 !important;
    border: none !important;
}

/* webkit: enabled style */
.max-guessing-time-range-slider.range-slider::-webkit-slider-thumb {
    background: #5ea26a !important;
    border: 3px solid black !important;
}

/* webkit: disabled style */
.max-guessing-time-range-slider.range-slider.disabled::-webkit-slider-thumb {
    background: #E9E9E8 !important;
    border: none !important;
}

/* microsoft: enabled style */
.max-guessing-time-range-slider.range-slider::-ms-thumb {
    background: #5ea26a !important;
    border: 3px solid black !important;
}

/* microsoft: disabled style */
.max-guessing-time-range-slider.range-slider.disabled::-ms-thumb {
    background: #E9E9E8 !important;
    border: none !important;
}