.action-btn {
    color: black !important;
    border: 3px solid black !important;
    font-weight: bold !important;
}

.action-btn-quit {
    background: #ffefd6 !important;
}

.action-btn-restart {
    background: #FFC15E !important;
}

.gameover-results {
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-left: 0px;
    border-right: 0px;
}