:root {
    --timer-progress-bar-duration: 30s
}

#view-wrapper {
    margin-top: 200px;
}

.error-alert.alert {
    background: white !important;
    border: 3px solid red !important;
    border-radius: 5px !important;
    color: black !important;
    font-weight: bold;
}

.error-alert .alert-heading {
    color: red !important;
}

.post-panel {
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    color: black !important;
    padding: 24px;
}

.phc-panel {
    background: #101010;
    color: white !important;
}

.phc-username {
    color: #ffa31a;
}

.select-btn {
    border: 3px solid white !important;
    font-weight: bold !important;
    transition: none !important;
}

.select-ai-btn {
    border-color: #009265 !important;
    background: #00c998 !important;
}

.select-human-btn {
    border-color: #c2554f !important;
    background: #fe8a80 !important;
}

.warn-footer {
    max-width: 500px;
}

.post-correct,
.post-correct .phc-username {
    border-color: #009265 !important;
    color: #009265 !important;
}

.post-incorrect,
.post-incorrect .phc-username {
    border-color: #c2554f !important;
    color: #c2554f !important;
}

.opacity-30 {
    opacity: 0.3 !important;
}

.highlight-border {
    border-color: black !important;
}

button[disabled=""].highlight-border {
    opacity: 1 !important;
}

.timer-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    background: #CC5803;
}

.timer-progress-bar-enter {
    width: 0%;
}

.timer-progress-bar-enter-active {
    width: 100%;
    -webkit-transition: width var(--timer-progress-bar-duration) linear !important;
    -moz-transition: width var(--timer-progress-bar-duration) linear !important;
    -o-transition: width var(--timer-progress-bar-duration) linear !important;
    transition: width var(--timer-progress-bar-duration) linear !important;
}

.timer-progress-bar-enter-done {
    width: 100%;
}

.timer-progress-bar-exit,
.timer-progress-bar-exit-active {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.timer-progress-bar.timer-progress-bar-background {
    opacity: 0.3;
}